* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

@import "bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "Moalang";
  src: url("../font/SwistblnkMoalangMelintang.woff2") format("woff2"),
    url("../font/SwistblnkMoalangMelintang.woff") format("woff");
}

:root {
  --prim-green: #1c3c22; /* Green */
  --sec-yellow: #f9f8f1; /* Yellow */
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

body {
  font-family: Elza;
}

.site {
  display: flex;
}

section {
  width: 100vw;
  height: calc(100vh - 20px);
  flex-shrink: 0;
}

section:nth-child(odd) {
  background-color: #ffdee6;
}

section:nth-child(even) {
  background-color: #fff6d5;
}

.homepage .logo {
  padding-top: 32px;
}

.homepage h1 {
  font-family: "Playfair Display";
  font-size: 100px;
  font-weight: 900;
  padding-top: 158px;
  line-height: 91.97%;
}

.homepage h2 {
  color: var(--prim-green, #1c3c22);
  font-family: "Swistblnk Moalang Melintang";
  font-size: 170px;
  line-height: 67.738%;
  font-weight: 400;
}

.homepage h3 {
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 900;
  padding-top: 37px;
}

.homepage h3 b {
  font-weight: 900;
  color: var(--prim-green, #1c3c22);
}

.headerbas {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@mixin colwidth($multiplication) {
  width: calc(
    $multiplication * 100% + $multiplication * 24px - 12px + 100vw - 960px
  );

  @media (min-width: 1200px) {
    width: calc(
      $multiplication * 100% + $multiplication * 24px - 12px + 100vw - 1140px
    );
  }
}

.vigneron {
  position: relative;
  background-color: #1c3c22;
  @include colwidth(8);
}
