* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}

@import "bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "Moalang";
  src: url("../font/SwistblnkMoalangMelintang.woff2") format("woff2"),
    url("../font/SwistblnkMoalangMelintang.woff") format("woff");
}

:root {
  --prim-green: #1c3c22; /* Green */
  --sec-yellow: #f9f8f1; /* Yellow */
}

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

body {
  font-family: Elza;
  overflow: hidden;
}

.site {
  display: flex;
}

section {
  width: 100vw;
  height: calc(100vh - 20px);
  flex-shrink: 0;
}

// section:nth-child(odd) {
//   background-color: #ffdee6;
// }

// section:nth-child(even) {
//   background-color: #fff6d5;
// }

.homepage .logo {
  padding-top: 32px;
}

.homepage h1 {
  font-family: "Playfair Display";
  font-size: 100px;
  font-weight: 900;
  padding-top: 158px;
  line-height: 75%;
}

.homepage h2 {
  color: var(--prim-green, #1c3c22);
  font-family: "Swistblnk Moalang Melintang";
  font-size: 170px;
  line-height: 70%;
  font-weight: 400;
  margin-top: 15px;
}

.homepage h3 {
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 900;
  margin-top: 30px;
}

.homepage h3 b {
  font-weight: 900;
  color: var(--prim-green, #1c3c22);
}
// .homepage {
//   background-image: url(../img/img_homepage.png);
//   background-size: 93.5%;
//   background-position: right;
//   background-repeat: no-repeat;
//   background-position-y: -77px;
// }

.img-homepage {
  width: calc(100vw - (100vw - 1140px) / 2);
}
// .homepage .container {
//   height: calc(100vh - 77px);
//   overflow: hidden;
// }

.headerbas {
  position: fixed;
  padding-bottom: 16px;
  padding-top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

footer .newsletter {
  margin-top: 212px;
}

footer .newsletter hr {
  width: 127px;
}

footer .titre {
  font-size: 16px;
  font-weight: 600;
}

footer .titre b {
  font-size: 14px;
  font-weight: 400;
}

footer .texte {
  font-size: 14px;
  font-weight: 400;
}

footer .newsletter .titre {
  margin-top: 26px;
}

footer .email {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: rgba(28, 60, 34, 0.15);
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 14px;
  flex-grow: 1;
}
footer .boutonsolid {
  width: 77px;
}

footer .inscription {
  display: flex;
  gap: 18px;
  margin-top: 24px;
  margin-bottom: 41px;
}

footer .langues {
  display: flex;
  gap: 8px;
  font-size: 15px;
  font-weight: 500;
  .fr {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 16.5%; /* 2.475px */
  }
}

footer .infos hr {
  width: 42px;
}
footer .infos {
  margin-top: 242px;
}

footer .infos .titre {
  margin-top: 26px;
  margin-bottom: 18px;
  line-height: 20px;
}
footer .localiser {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
}

footer .suiveznous {
  margin-top: 70px;
  font-size: 14px;
  font-weight: 600;
  .reseaux {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-top: 8px;
  }
}

footer .ventes {
  margin-top: -140px;
  hr {
    width: 71px;
  }
}

footer .ventes .titre {
  margin-top: 26px;
  margin-bottom: 20px;
}
footer .ventes .contact {
  margin-top: 26px;
  font-size: 14px;
  font-weight: 600;
  p {
    font-weight: 500;
    margin-top: 8px;
  }
}

footer .ventes .texte {
  line-height: 35px;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@mixin colwidth($multiplication) {
  width: calc(
    $multiplication * 100% + $multiplication * 24px - 12px + 100vw - 960px
  );

  @media (min-width: 1200px) {
    width: calc(
      $multiplication * 100% + $multiplication * 24px - 12px + 100vw - 1140px
    );
  }
}

.vigneron {
  // position: relative;
  // background-color: #1c3c22;
}

.usershop {
  display: flex;
  width: 100%;
}

.texteheader {
  display: flex;
  gap: 58px;
  font-size: 14px;
  align-items: center;
}

.langue {
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 0.7px solid black;
  text-align: center;
  font-size: 14px;
}

.bgmenu {
  font-size: 10px;
  font-weight: 300;
  padding: 0;
}

.headerbascontent {
  display: flex;
  align-items: center;
}

.titre .bar {
  width: 1px;
  height: 66px;
  background: #000;
}

.barchiffre {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  p {
    font-size: 14px;
  }
}

.titre {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
.nouveaute-un .titre {
  margin-top: -380px;
}

.titre h1 {
  font-family: "Playfair Display";
  font-size: 150px;
  font-weight: 700;
  line-height: 103.781%;
}

.texte {
  font-family: Elza;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.nouveaute-un .texte {
  margin-top: -150px;
}

.imageblanc {
  width: 751px;
  height: 562px;
  @include colwidth(5);
}

.imagerouge img {
  width: 100%;
  margin-top: 110px;
}

.cetteanne {
  margin-top: 20px;
}

.textepetit {
  font-size: 14px;
  line-height: 18px;
}

.notrenouvelle {
  margin-top: -200px;
}

.boutons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  gap: 21px;
}

.boutonsolid {
  display: flex;
  width: 166px;
  min-height: 33px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: var(--prim-green, #1c3c22);
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.boutonvide {
  display: flex;
  align-items: center;
  color: black;
  text-align: center;
  font-family: Elza;
  font-size: 12px;
  font-weight: 275;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2.5%;
  text-underline-offset: 25%;
  text-underline-position: from-font;
}

.nouveaute-deux .boutons {
  margin-top: -100px;
}

.philosophie-un {
  .texte {
    margin-top: 208px;
  }
  .titre {
    margin-top: 67px;
  }
}

.philosophie-deux {
  background-image: url(../img/img_philosophie.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.philosophie-deux .texte {
  color: white;
  margin-top: 334px;
}

.philosophie-deux .boutonsolid {
  background-color: white;
  color: black;
  margin-top: 40px;
}

.notre-equipe .titre {
  margin-top: -180px;
}

.vigneron1 img {
  width: 356px;
  height: 236px;
}

.vigneron .contenu-nom {
  display: flex;
  padding-top: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}

.vigneron {
  display: flex;
  align-items: flex-start;
  gap: 80px;
}

.vigneron1 {
  @include colwidth(6);
  margin-top: 143px;
}

.vigneron .titre-nom {
  font-size: 20px;
  font-weight: 500;
}
.vigneron .texte-nom {
  font-size: 14px;
}

.vigneron2 img {
  width: 545px;
  height: 316px;
}

.vigneron2 .contenu-nom {
  padding-top: 116px;
}

.vigneron2 {
  margin-top: -118px;
  @include colwidth(8);
}

.vigneron3 {
  @include colwidth(8);
}

.vigneron3 img {
  width: 546px;
  height: 365px;
}

.vigneron3 .contenu-nom {
  padding-top: 222px;
}

.notre-equipe-deux .boutons {
  margin-top: -25px;
}

.visites .titre h1 {
  font-size: 100px;
}

.visites .titre {
  margin-top: 142px;
}

.visites .textepetit {
  margin-top: 41px;
}

.visites img {
  bottom: 0;
  position: absolute;
  pointer-events: none;
  width: 166px;
  height: 157px;
}
